parameters:
  level: 5
  phpVersion: 80200

  paths:
    - ./src

  bootstrapFiles:
    - phpstan-bootstrap.php

  treatPhpDocTypesAsCertain: false

  excludePaths:
    - tests/*
    - vendor/*
    - node_modules/*
    - assets/*

includes:
  - phpstan-baseline.neon
