<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
  bootstrap="tests/bootstrap.php"
  backupGlobals="false"
  colors="true"
  convertErrorsToExceptions="true"
  convertWarningsToExceptions="true"
  convertNoticesToExceptions="true"
  convertDeprecationsToExceptions="true">

  <testsuites>
    <testsuite name="SparxstarSky">
      <directory suffix=".php">./tests/</directory>
    </testsuite>
  </testsuites>

  <coverage>
    <include>
      <directory>code-engine</directory>
      <directory>mu-plugin/src</directory>
    </include>
    <exclude>
      <directory>vendor</directory>
    </exclude>
  </coverage>
</phpunit>
